//
// Mixins
// --------------------------------------------------
// GRADIENTS
// --------------------------------------------------

#gradient {

  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-gradient(linear, @start-percent top, @end-percent top, from(@start-color), to(@end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent)); // Safari 5.1+, Chrome 10+
    background-image: -moz-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // FF 3.6+
    background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-gradient(linear, left @start-percent, left @end-percent, from(@start-color), to(@end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @start-color, @start-percent, @end-color, @end-percent); // Safari 5.1+, Chrome 10+
    background-image:  -moz-linear-gradient(top, @start-color @start-percent, @end-color @end-percent); // FF 3.6+
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  .directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1+, Chrome 10+
    background-image: -moz-linear-gradient(@deg, @start-color, @end-color); // FF 3.6+
    background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10
  }
  .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(@start-color), color-stop(@color-stop, @mid-color), to(@end-color));
    background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: -moz-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }
  .vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@start-color), color-stop(@color-stop, @mid-color), to(@end-color));
    background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-image: -moz-linear-gradient(top, @start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }
  .radial(@inner-color: #555; @outer-color: #333) {
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@inner-color), to(@outer-color));
    background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
    background-image: -moz-radial-gradient(circle, @inner-color, @outer-color);
    background-image: radial-gradient(circle, @inner-color, @outer-color);
    background-repeat: no-repeat;
  }
  .striped(@color: #555; @angle: 45deg) {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }
}
/***************************************/
/*************** gradients END ************/
/***************************************/
// colors
@blue1: #2386C9;
@blue2: #0D3474;
@blue3: #D3DDED;
@blue4: #0D6BA0;
@blue5: #6694C1;
@blue6: #cbe9f2;
@blue7: #EBF0FA;
@blue8: #A6C9FF;

@gray1: #EFEFEF;
@gray1-2: #DCDCDC;
@gray2: #AFAFAF;
@gray3: #6B8187;
@gray4: #6D6D6D;
@gray5: #565656;
@gray6: #F5F5F5;

// fonts
@font1: 'Open Sans Condensed';
@font2: 'AltoProExCon-ExtraLight';
@font3: 'AltoPro-Thin';
@font4: 'AltoProExCon-LightItalic';
@font5: 'AltoPro-Light';

/***************************************/
/**********  GENERAL *******************/
.panels-flexible-region-1-center,
.panels-flexible-region-2-center,
.panels-flexible-region-3-center,
.panels-flexible-region-3-region_medium,
.panels-flexible-region-3-region_bottom,
.panels-flexible-region-4-center,
.panels-flexible-region-5-center,
.panels-flexible-region-6-center {
  width: 100%;

}

/*********************************************/
/******************* HEADER ******************/
/*********************************************/
  
.nav-bar > li,
.nav-bar > li.active,
.nav-bar > li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
}
.nav-bar > li.active a { background-color: @blue5; }
.nav-bar > li.active > a:hover {
  color: white;
}

#brand {
  background: url('../images/integral_logo.png') no-repeat 0 0;
  width: 167px;
  height: 53px;
  display: block;
  float: left;
  margin-top: -3px;
  margin-left: 35px;
}
.header_nav {
  background: url('../images/bg-header2.png') repeat-x;
  padding: 50px 0 10px 0;
  .row {
    overflow: hidden;
  }
}
#menu {
  float: right;
}

/*********************************************/
/******************* BUSQUEDA *****************/
/*********************************************/
.page-user,
.page-contact {
  label {
    color: @blue5;
  }
  input,
  textarea {
    border: 1px solid @blue3;
  }
  .form-type-checkbox {
    display: none;

  }
  a:hover {
    color: @blue5;
  }
  section.three {
    display: none;
  }
  section.nine {
    width: 100%;
  }
  input[type='submit'] {
    -moz-box-shadow:inset 0px 1px 0px 0px #88afd4;
  -webkit-box-shadow:inset 0px 1px 0px 0px #88afd4;
  box-shadow:inset 0px 1px 0px 0px #88afd4;
  background-color:#6694c1;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  border:1px solid #6694c1;
  display:inline-block;
  color:#fff;
  font-family: @font3;
  font-size: 12px;
  text-shadow:1px 1px 0px #3470a8;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  &:hover {
      background-color: #81abd1;
    }
  }
}
.page-proyectos,
.page-propiedades,
.page-busqueda,
.page-node,
.page-contact,
.page-inicio {
  .three h3 {
    border-bottom: 1px dotted @blue3;
    color: @blue8;
    font-size: 20px;
    margin: 46px 0 0 0;
  }
}
.page-inicio #min-search {
  .views-exposed-form .views-exposed-widget {
    width: 22%;
    #edit-submit-busqueda {
      border-radius: 3px;
        webkit-border-radius: 3px;
        -moz-border-radius: 3px;
      padding: 7px 0 5px;
      margin-top: 32px;
    }
  }
}
#min-search,
.page-propiedades {
	.sidebar {
    .boton {
      padding-top: 10px;
      padding-bottom: 10px;
    }
		.view-content,
		.pager {
			display: none;
		}
	}
}
.page-inicio .views-exposed-form .views-exposed-widget {
  border: 2px blue;
}
.page-propiedades,
.page-inicio {
  .three h3 {
    margin-bottom: 20px;
    border: 0;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0;
    margin: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid @gray1-2;
  }
  label {
    color: @blue5;
    font-family: @font5;
    font-weight: normal;
    margin-top: 15px;
  }
  .form-type-select {
    border: 1px solid @gray1-2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
     &:hover {
      border-color: @blue8;
    }
  }
  select {
    -webkit-appearance: none !important;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-image: url('../images/select-arrow.png');
    border: 1px solid #fff;
    color: @gray3;
    padding: 5px;
    font-size: 12px;
    -webkit-border-radius: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    -webkit-box-shadow: inset 0px -6px 11px 6px rgba(232,232,232,0.51);
    -moz-box-shadow: inset 0px -6px 11px 6px rgba(232,232,232,0.51);
    box-shadow: inset 0px -6px 11px 6px rgba(232,232,232,0.51);
    &:hover {
      background-color: #fafafa;
    }
    option {
      font-family: @font1;
    }
  }
  .views-submit-button input {
    border-radius: 3px;
        webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    font-family: @font3;
    font-weight: normal;
    width: 100%;
  }
  #edit-sale-msg,
  #edit-rent-msg {
    cursor: pointer;
    padding: 6px;
    color: @gray2;
    &:hover {
      color: @gray3;
    }
  }
}
.boton {
  -moz-box-shadow:inset 0px 1px 0px 0px #88afd4;
  -webkit-box-shadow:inset 0px 1px 0px 0px #88afd4;
  box-shadow:inset 0px 1px 0px 0px #88afd4;
  background-color:#6694c1;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  border:1px solid #6694c1;
  display:inline-block;
  color:#ffffff;
  font-weight:bold;
  font-style:normal;
  text-shadow:1px 1px 0px #3470a8;
  cursor: pointer;
  &:hover {
    background-color: #81abd1;
  }
}
/* content filters */
.content {
	.view-filters {
		display: none;
	}
}
#comments {
  display: none;
}

/*********************************************/
/***************** CONTENT *******************/
/*********************************************/
a:hover {
	text-decoration: none;
}
section {
  p,
  a {
    font-family: @font5;
  }
  h1,
  h2,
  h3 {
    color: @gray5;
  }
}
.page-home,
.page-proyectos,
.page-propiedades,
.page-servicios,
.page-contacto,
.page-busqueda,
.page-contact {
  h1 {
    background: url('../images/bg-proyectos.png') repeat-x 0 0px;
    overflow: hidden;
    padding-right: 10px;    
    text-align: right;
  }
	h2,
	.pane-title, {
		display: none;
	}
}
/***************** Page FRONT *****************/

.page-inicio {
  .view-busqueda .view-content{
    display: none;
  }
  .panel-1col h2.pane-title {
    margin-bottom: 10px;
  }
  .view-display-id-block_4 {
  margin-bottom: 40px;
  overflow: hidden;
  .views-field-field-imagen {
    overflow: hidden;
    margin: 0;
    }
  }
  .views-slideshow-cycle-main-frame-row-item {
    position: relative;
    .views-field-title {
      width: 100%;
      position: absolute;
      bottom: -4px;
      left: 0;
      .field-content {
        display: block;
        text-align: right;
        padding: 20px 25px 25px 0;
        background: rgba(256, 256, 256, .9);
      }
    }
  }
  .jcarousel li {
    height: auto;
      .views-field-field-tipo-de-inmueble,
      .views-field-field-ciudad,
      .views-field-field-ubicacion {

      }
    }
  h2.title {
    display: none;
  }
  h2.pane-title {
    font-size: 22px;
    padding: 0;
    color: @blue5;
  }
  form {
    margin: 0;
  }
  .views-row {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    div {
      padding:0;
      overflow: hidden;
    }
  }
  .views-slideshow-controls-bottom {
    position: relative;
    top: -36px;
    z-index: 200;
    left: 25px;
  }
  .active .views-field-nid {
    background-color: @blue5;
  }
  .views-field-nid {
    cursor: pointer;
    float: left;
    margin: 0 12px 12px 0;
    background-color: @blue3;
    color: #81abd1;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid @blue5;
  }
  .views-content-nid {
    display: none;
  }
  .bx-wrapper {
    padding: 0 10px 10px 0;
    .bx-viewport {
      border: 1px solid @gray1-2;
    }
  }
  .bxslider {
    li {
      list-style: none;
      background-color: @gray6;
      height: 200px;
      position: relative;
      h4 {
        color: @blue5;
        margin: 20px;
      }
      p {
        margin: 20px;
      }
    }
  }
  .jcarousel-skin-default {
    min-height: 200px;
    .jcarousel-item-horizontal {
      margin: 0 8px;
    }
  }
  .section_main {
    .nine {
      padding-left: 0;
      .eight,
      .four {
        float: left;
        .twelve {
          div {
            height: 370px;
          }
        }
        article {
          float: left;
          padding: 0 10px 10px 0;
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
  .jcarousel-view--home--block-2 {
    overflow: visible!important;

  }
.front .view-id-busqueda {
  overflow: hidden;
}
#min-search .views-exposed-form .views-exposed-widget {
  width: 25%;
  float: left;
  border: none;
}
.views-exposed-widgets {
  border-bottom: 1px solid @blue3;
}

/* VIEWS */

#min-search {
  margin-bottom: 20px;
}

/* JCAROUSEL */
.jcarousel-skin-default {
  .views-field-field-imagen {
    border-bottom: 1px dotted @blue3;
    margin-bottom: 5px;
  }
  .ubicacion {
    color: @blue5;
  }
  .precio-venta,
  .precio-alquiler {
    color: @blue5;
    font-family: @font4;
    color: @blue5;
    font-size: 16px;
  }
  .ciudad {
    font-family: @font4;
    color: @blue5;
    font-size: 16px;
  }
  .jcarousel-container-horizontal {
    margin: 16px 0 30px 0;
    width: 100%!important;
    overflow: visible;
    padding: 0;
    height: auto!important;
    .jcarousel-item {
      background-color: transparent;
      border: 0;
    }
    .jcarousel-prev,
    .jcarousel-next {
      height: 37px;
      width: 53px;
    }
    .jcarousel-prev-horizontal {
      position: absolute;
      top: 56px;
      left: -8px;
      background-position: 0 0;
      &:hover {
        background-position: -53px 0;
      }
    }
    .jcarousel-next-horizontal {
      position: absolute;
      top: 56px;
      right: -8px;
      background-position: 0 -37px;
      &:hover {
        background-position: -53px -37px;
      }
    }
  }
  .jcarousel-clip-horizontal {
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: left;
    margin: 0 auto;
    width: 98%!important;
  }
}

.jcarousel-list-horizontal {
  width: 200%!important;
  overflow: hidden;
}

.destacados .jcarousel-skin-default .jcarousel-clip-horizontal  {
  margin: 0 auto;
  ul {
    li {
      &:first-child {
        
      }
    }
  }
}

.galleria-container {

background: white!important;
margin-bottom: 100px;

}
.views-field-title {
  
}


/***************** Page INTEGRAL *****************/
.page-integral-property {
  .content {
    margin-top: 100px;
  }
  h2.pane-title,
  h1.section-title {
    display: none;
  }
  p {
    font-size: 18px;
    color: @gray3;
    text-align: center;
  }
  h1 {
    text-align: center;
    border-bottom: 1px dotted @blue3;
    padding: 0 0 10px;
    margin: 20px 0;
  }
  .glow {
    height: 363px;
    #gradient > .vertical(#fafafa, @blue3);
  }
  .bg-integral_pm {
    background: url('../images/bg-integral_buildings.png') no-repeat bottom center;
    height: 363px;
  }
  .bg-mision {
    background: url('../images/bg-integral_mision.png') no-repeat bottom center;
    height: 363px;
  }
  .bg-vision {
    background: url('../images/.png') no-repeat bottom center;
    height: 363px;
  }
  .panels-flexible-row {
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .pane-block-1 {
    pane-content {
      margin: 100px 0 0;
    }
  }
}
.bg-lines {
    background: url('../images/bg-lines.png') repeat;
    height: 100px;
    margin-bottom: 50px;
  }
/***************** PROYECTOS Y PROPIEDADES *******/
.page-propiedades {
  .views-row {
    .views-field-field-precio-de-alquiler,
    .views-field-field-precio-de-venta {
      float: left;
      padding-right: 0;
      .views-label,
      .field-content {
        float: left;
        font-size: 18px;
        margin-right: 10px;
      }
      .views-label {
        font-family: @font4;
      }
    }
    .views-field-field-precio-de-venta .field-content {
    margin-right: 7px;
    }
  }
}
.views-row {
    padding: 20px;
	.views-field-field-tipo-de-inmueble,
  .views-field-field-ciudad,
  .views-field-field-ubicacion {
    margin-bottom: 8px;
		color: @blue5;
		font-family: @font1;
		font-size: 50px;
		
	}
	.views-field-body {
		p {
			color: @gray5;
			font-size: 13px;
			margin: 0;
		}
	}
  .views-field-field-imagen {
    margin: 10px 0;
  }
	.views-field-view-node {
		a {
			color: @blue5;
			font-size: 13px;
      &:hover {
        color: @blue4;
      }
		}
	}
}
/******************/
/* pager */
.item-list {
  border-top: 1px dotted @blue3;
  border-bottom: 1px dotted @blue3;
  font-family: @font3;
  padding: 10px 0;
  .pager {
    text-align: right;    
  }
  .pager-current {
    margin-left: 3px;
    color: @blue6;
  }
  .pager-previous,
  .pager-next,
  .pager-item,
  .last {
    color: @blue5;
    margin-left: 3px;
    a {
    color: @blue5;
    &:hover {
      color: @blue4;
      }
    }
  }
}
/******************/
/***************** SERVICIOS ***************/
.end {
  position: fixed;
    top: 10%;
}
.start {
  position: fixed;
    top: 26%;
}
.page-servicios {
  /* #menu-servicios {
    &.locked {
        position: fixed;
        top: 10px;
    }
  } */
  .views-field-title {
    background-color: transparent;
  }
  .panel-flexible-inside {
    position: relative;
  }
  .panels-flexible-region-5-menu_servicios {
    position: fixed;
    width: 240px;
    z-index: 300;
    height: 600px;


  }
  ul.side-nav {
    padding: 15px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    li {
      padding: 10px 0px;
      border-bottom: 1px dotted @blue3;
      margin: 0;
      a {
        padding-right: 20px;
        color: @blue5;
        line-height: 16px;
        &:hover {
          color: @blue4;
          background: url('../images/menu-servicios-arrow.png') no-repeat right center;
        }
        span.lsf-icon-dropcap:before {
        font-size: 28px;
        margin-right: 10px;
        float: left;
        height: 30px;
        padding-top: 4px;
        }
      }
    }
  }
  .panels-flexible-region-5-center {
    position: relative;
    top: 0;
    left: 30%;
    width: 70%;
    .views-row {
      background: url('../images/bg-lines.png') repeat-x center bottom;
      box-shadow: none;
      padding: 40px 0 60px;
      .views-field-title-1 {
        a {
          display: none;
        }
      }
      .views-field-title {
        border-bottom: 1px dotted @blue5;
        span {
          color: @blue4;
          font-family: @font1;
          font-size: 25px;
          padding: 0 0 20px;
        }
      }
      p {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
/************** DETALLE ********************/
.node-type-proyectos,
.node-type-propiedades {
  section.three {
    display: none;
  }
  .content {
    position: relative;
    h1.title {
      color: @blue5;
      border-bottom: 1px dotted @blue3;
      font-family: @font2;
      margin: 30px 0 7px;
      .inmobi-logo {
      float: right;
      height: 50px;
      }
    }
    .img-first img {
    width: 100%;
    height: 360px;
    margin-bottom: 10px;
    }
    h4 {
      margin: 0 0 10px 0;
      float: left;
      p {
        color: @gray2;
        display: inline-block;
        font-family: @font4;
        font-size: 26px;
        margin: 0;
      }
    }
  }
  section.nine {
    width: 100%;
    float: none;
  }
  h1.section-title {
    /*display: none;*/
  }
  .left {
    width: 30%;
    background: url('../images/bg-lines.png') repeat-x 0 bottom @gray6;
    padding: 17px 20px 70px;
    > div {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
    }
    .field-name-body {
      margin: 15px 0 0;
      p {
        color: @blue5;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        border-bottom: 1px dotted @blue3;
        font-size: 18px;
        font-family: @font4;
        &:before {
            content: "» ";
            color: @blue1; /* or whatever color you prefer */
            margin-right: 10px;
          
        }
        &:last-child {
          border-bottom: 1px solid @blue3;
        }
        b {
          color: @gray5;
          font-family: @font2;
          float: right;
        }
      }
    }
  }
  .right {
    width: 68%;
    padding: 0;
    img {
      margin-bottom: 18px;
    }
  }

}



/*******************************************/
/******** CONTACT COUNTRIES SECTION ********/
/*******************************************/
.contact-countries {
	div.columns {
		padding: 5px;
		border-right: 1px dotted @blue3;
		&:last-child {
			border: 0;
		}
	}
	.country-icons {
    height: 140px;
		padding: 6px 10px 0 60px;
		&:last-child {
			border-right: 0;
		}
		h3 {
			font-family: @font2;
			font-size: 18px;
			color: @blue4;
			margin: 0 0 7px 0;
		}
		p {
			font-family: @font4;
		  font-size: 16px;
      color: @gray2;
			margin: 0;
			line-height: 20px;
      text-align: left;
			&:first-of-type{
				color: @gray5;
			}
		}
	}
	.pnm-icon {
			background: url('../images/pnm-flag.png') no-repeat 6px 2px;
		}
	.vnz-icon {
			background: url('../images/vnz-flag.png') no-repeat 6px 2px;
		}
	.col-icon {
			background: url('../images/col-flag.png') no-repeat 6px 2px;
		}
	.usa-icon {
			background: url('../images/usa-flag.png') no-repeat 6px 2px;
		}
	.eur-icon {
			background: url('../images/eur-flag.png') no-repeat 6px 2px;
		}
}
/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
	padding: 20px 0;
	#gradient > .vertical(@blue3, #fff);
	margin: 20px 0 0;
	.social-icons {
    height: 100px;
		a.lsf-icon {
      color: @gray3;
      font-size: 32px;
      line-height: 0.9;
			margin-right: 15px;
      text-align: center;
			&:hover {
				color: @blue5;
			}
			&:last-child {
				margin: 0;
			}
		}
	}
  .branding {
    height: 100px;
  }
  .legal-note {
    height: 100px;
  }
	.branding p,
	.legal-note a {
		font-family: @font4;
    font-size: 14px;
		color: @gray3;
    line-height: 1.6;
    text-align: left;
    margin: 0 0 5px;
	}
}






