/***************************************/
/*************** gradients END ************/
/***************************************/
/***************************************/
/**********  GENERAL *******************/
.panels-flexible-region-1-center,
.panels-flexible-region-2-center,
.panels-flexible-region-3-center,
.panels-flexible-region-3-region_medium,
.panels-flexible-region-3-region_bottom,
.panels-flexible-region-4-center,
.panels-flexible-region-5-center,
.panels-flexible-region-6-center {
  width: 100%;
}
/*********************************************/
/******************* HEADER ******************/
/*********************************************/
.nav-bar > li.active:hover,
.nav-bar > li.active > a:hover {
  color: white;
}
#brand {
  background: url('../images/integral_logo.png') no-repeat 0 0;
  width: 167px;
  height: 53px;
  display: block;
  float: left;
  margin-top: -3px;
}
.header_nav .row {
  overflow: hidden;
}
#menu {
  float: right;
}
#menu-header li.active {
  background-color: #6694c1;
}
#menu-header li.active:hover {
  background: white;
}
#menu-header li.active a {
  background-color: #6694c1;
}
/*********************************************/
/******************* SIDEBAR *****************/
/*********************************************/
.page-proyectos .three h3,
.page-propiedades .three h3,
.page-busqueda .three h3,
.page-node .three h3 {
  border-bottom: 1px dotted #d3dded;
  color: #a6c9ff;
  font-size: 20px;
  margin: 46px 0 0 0;
}
.sidebar {
  margin-top: 20px;
  padding: 0 10px 15px;
}
.sidebar .view-busqueda .view-content,
.sidebar .view-busqueda .pager {
  display: none;
}
.sidebar .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dcdcdc;
}
.sidebar label {
  color: #6694c1;
  font-family: 'AltoPro-Light';
  font-weight: normal;
  margin-top: 15px;
}
.sidebar .form-type-select {
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .form-type-select:hover {
  border-color: #a6c9ff;
}
.sidebar select {
  -webkit-appearance: none !important;
  background-repeat: no-repeat;
  background-position: center right 3%;
  background-image: url('../images/select-arrow.png');
  border: 1px solid #fff;
  color: #6b8187;
  padding: 5px;
  font-size: 12px;
  -webkit-border-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  -webkit-box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
  -moz-box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
  box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
}
.sidebar select:hover {
  background-color: #fafafa;
}
.sidebar select option {
  font-family: 'Open Sans Condensed';
}
/* content filters */
.content .view-filters {
  display: none;
}
/*********************************************/
/***************** CONTENT *******************/
/*********************************************/
a:hover {
  text-decoration: none;
}
section p,
section a {
  font-family: 'AltoPro-Light';
}
section h1,
section h2,
section h3 {
  color: #565656;
}
.page-home h1,
.page-proyectos h1,
.page-propiedades h1,
.page-servicios h1,
.page-contacto h1,
.page-busqueda h1 {
  padding-right: 10px;
  text-align: right;
  border-bottom: 1px dotted #d3dded;
}
.page-home h2,
.page-proyectos h2,
.page-propiedades h2,
.page-servicios h2,
.page-contacto h2,
.page-busqueda h2,
.page-home .pane-title,
.page-proyectos .pane-title,
.page-propiedades .pane-title,
.page-servicios .pane-title,
.page-contacto .pane-title,
.page-busqueda .pane-title {
  display: none;
}
/***************** Page INTEGRAL *****************/
.page-integral .content {
  margin-top: 100px;
}
.page-integral h2.pane-title,
.page-integral h1.section-title {
  display: none;
}
.page-integral p {
  font-size: 18px;
  color: #6b8187;
  text-align: center;
}
.page-integral h1 {
  text-align: center;
  border-bottom: 1px dotted #d3dded;
  padding: 0 0 10px;
  margin: 20px 0;
}
.page-integral .glow {
  height: 363px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#d3dded));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #d3dded, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #d3dded 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #d3dded 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffd3dded', GradientType=0);
}
.page-integral .bg-integral_pm {
  background: url(../images/bg-integral_buildings.png) no-repeat bottom center;
  height: 363px;
}
.page-integral .bg-mision {
  background: url(../images/bg-integral_mision.png) no-repeat bottom center;
  height: 363px;
}
.page-integral .bg-vision {
  background: url(../images/.png) no-repeat bottom center;
  height: 363px;
}
.page-integral .panels-flexible-row {
  padding: 0;
}
.page-integral .panels-flexible-row:last-child {
  margin-bottom: 0;
}
.page-integral .pane-block-1 pane-content {
  margin: 100px 0 0;
}
.bg-lines {
  background: url(../images/bg-lines.png) repeat top left;
  height: 100px;
  margin-bottom: 50px;
}
/***************** PROYECTOS Y PROPIEDADES *******/
.views-row {
  margin: 0 0 20px;
  padding: 0;
}
.views-row > div {
  padding: 0 20px 10px;
}
.views-row > div:first-child {
  padding-top: 10px;
}
.views-row .views-field-title {
  background-color: #ebf0fa;
  margin-bottom: 8px;
}
.views-row .views-field-title a {
  color: #6694c1;
  font-family: 'Open Sans Condensed';
  font-size: 26px;
}
.views-row .views-field-title a:hover {
  color: #0d6ba0;
}
.views-row .views-field-body p {
  color: #565656;
  font-size: 13px;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: 1px dotted #d3dded;
}
.views-row .views-field-view-node a {
  color: #6694c1;
  font-size: 13px;
}
.views-row .views-field-view-node a:hover {
  color: #0d6ba0;
}
.views-row .views-field-field-imagen-pro,
.views-row .views-field-field-imagen {
  padding: 0 0 10px;
}
/******************/
/* pager */
.item-list {
  border-top: 1px dotted #d3dded;
  border-bottom: 1px dotted #d3dded;
  font-family: 'AltoPro-Thin';
  padding: 10px 0;
}
.item-list .pager {
  text-align: right;
}
.item-list .pager-current {
  margin-left: 3px;
  color: #cbe9f2;
}
.item-list .pager-previous,
.item-list .pager-next,
.item-list .pager-item,
.item-list .last {
  color: #6694c1;
  margin-left: 3px;
}
.item-list .pager-previous a,
.item-list .pager-next a,
.item-list .pager-item a,
.item-list .last a {
  color: #6694c1;
}
.item-list .pager-previous a:hover,
.item-list .pager-next a:hover,
.item-list .pager-item a:hover,
.item-list .last a:hover {
  color: #0d6ba0;
}
/******************/
/***************** SERVICIOS ***************/
.page-servicios {
  /* #menu-servicios {
    &.locked {
        position: fixed;
        top: 10px;
    }
  } */

}
.page-servicios .views-field-title {
  background-color: transparent;
}
.page-servicios .panel-flexible-inside {
  position: relative;
}
.page-servicios .panels-flexible-region-5-menu_servicios {
  position: fixed;
  width: 240px;
}
.page-servicios ul.side-nav {
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.page-servicios ul.side-nav li {
  padding: 10px 0px;
  border-bottom: 1px dotted #d3dded;
  margin: 0;
}
.page-servicios ul.side-nav li a {
  padding-right: 20px;
  color: #6694c1;
  line-height: 16px;
}
.page-servicios ul.side-nav li a:hover {
  color: #0d6ba0;
  background: url('../images/menu-servicios-arrow.png') no-repeat right center;
}
.page-servicios ul.side-nav li a span.lsf-icon-dropcap:before {
  font-size: 28px;
  margin-right: 10px;
  float: left;
  height: 30px;
  padding-top: 4px;
}
.page-servicios .panels-flexible-region-5-center {
  position: relative;
  top: 0;
  left: 30%;
  width: 70%;
}
.page-servicios .panels-flexible-region-5-center .views-row {
  background: url('../images/bg-lines.png') repeat-x center bottom;
  box-shadow: none;
  padding: 40px 0 60px;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title-1 a {
  display: none;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title {
  border-bottom: 1px dotted #6694c1;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title span {
  color: #0d6ba0;
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  padding: 0 0 20px;
}
.page-servicios .panels-flexible-region-5-center .views-row p {
  font-size: 16px;
  margin-top: 15px;
}
/*******************************************/
/******** CONTACT COUNTRIES SECTION ********/
/*******************************************/
.contact-countries div.columns {
  padding: 5px;
  border-right: 1px dotted #d3dded;
}
.contact-countries div.columns:last-child {
  border: 0;
}
.contact-countries .country-icons {
  height: 140px;
  padding: 6px 10px 0 60px;
}
.contact-countries .country-icons:last-child {
  border-right: 0;
}
.contact-countries .country-icons h3 {
  font-family: 'AltoProExCon-ExtraLight';
  font-size: 18px;
  color: #0d6ba0;
  margin: 0 0 7px 0;
}
.contact-countries .country-icons p {
  font-family: 'AltoProExCon-LightItalic';
  font-size: 16px;
  color: #afafaf;
  margin: 0;
  line-height: 20px;
  text-align: left;
}
.contact-countries .country-icons p:first-of-type {
  color: #565656;
}
.contact-countries .pnm-icon {
  background: url(../images/pnm-flag.png) no-repeat 6px 2px;
}
.contact-countries .vnz-icon {
  background: url(../images/vnz-flag.png) no-repeat 6px 2px;
}
.contact-countries .col-icon {
  background: url(../images/col-flag.png) no-repeat 6px 2px;
}
.contact-countries .usa-icon {
  background: url(../images/usa-flag.png) no-repeat 6px 2px;
}
.contact-countries .eur-icon {
  background: url(../images/eur-flag.png) no-repeat 6px 2px;
}
/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d3dded), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #d3dded, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #d3dded 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #d3dded 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3dded', endColorstr='#ffffffff', GradientType=0);
  margin: 20px 0 0;
}
footer .social-icons {
  height: 100px;
}
footer .social-icons a.lsf-icon {
  color: #6b8187;
  font-size: 32px;
  line-height: 0.9;
  margin-right: 15px;
  text-align: center;
}
footer .social-icons a.lsf-icon:hover {
  color: #6694c1;
}
footer .social-icons a.lsf-icon:last-child {
  margin: 0;
}
footer .branding {
  height: 100px;
}
footer .legal-note {
  height: 100px;
}
footer .branding p,
footer .legal-note a {
  font-family: 'AltoProExCon-LightItalic';
  font-size: 14px;
  color: #6b8187;
  line-height: 1.6;
  text-align: left;
  margin: 0 0 5px;
}
