/***************************************/
/*************** gradients END ************/
/***************************************/
/***************************************/
/**********  GENERAL *******************/
.panels-flexible-region-1-center,
.panels-flexible-region-2-center,
.panels-flexible-region-3-center,
.panels-flexible-region-3-region_medium,
.panels-flexible-region-3-region_bottom,
.panels-flexible-region-4-center,
.panels-flexible-region-5-center,
.panels-flexible-region-6-center {
  width: 100%;
}
#pid-admin .three {
  display: none;
}
/*********************************************/
/******************* HEADER ******************/
/*********************************************/
.nav-bar > li,
.nav-bar > li.active,
.nav-bar > li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nav-bar > li.active a {
  background-color: #6694c1;
}
.nav-bar > li.active > a:hover {
  color: white;
}
#brand {
  background: url('../images/integral_logo.png') no-repeat 0 0;
  width: 167px;
  height: 53px;
  display: block;
  float: left;
  margin-top: -3px;
  margin-left: 35px;
}
.header_nav {
  background: url('../images/bg-header2.png') repeat-x;
  padding: 50px 0 10px 0;
}
.header_nav .row {
  overflow: hidden;
}
#menu {
  float: right;
}
/*********************************************/
/******************* BUSQUEDA *****************/
/*********************************************/
.page-user label,
.page-contact label {
  color: #6694c1;
}
.page-user input,
.page-contact input,
.page-user textarea,
.page-contact textarea {
  border: 1px solid #d3dded;
}
.page-user .form-type-checkbox,
.page-contact .form-type-checkbox {
  display: none;
}
.page-user a:hover,
.page-contact a:hover {
  color: #6694c1;
}
.page-user section.three,
.page-contact section.three {
  display: none;
}
.page-user section.nine,
.page-contact section.nine {
  width: 100%;
}
.page-user input[type='submit'],
.page-contact input[type='submit'] {
  -moz-box-shadow: inset 0px 1px 0px 0px #88afd4;
  -webkit-box-shadow: inset 0px 1px 0px 0px #88afd4;
  box-shadow: inset 0px 1px 0px 0px #88afd4;
  background-color: #6694c1;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #6694c1;
  display: inline-block;
  color: #fff;
  font-family: 'AltoPro-Thin';
  font-size: 12px;
  text-shadow: 1px 1px 0px #3470a8;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
.page-user input[type='submit']:hover,
.page-contact input[type='submit']:hover {
  background-color: #81abd1;
}
.page-proyectos .three h3,
.page-propiedades .three h3,
.page-busqueda .three h3,
.page-node .three h3,
.page-contact .three h3,
.page-inicio .three h3 {
  border-bottom: 1px dotted #d3dded;
  color: #a6c9ff;
  font-size: 20px;
  margin: 46px 0 0 0;
}
.page-inicio #min-search .views-exposed-form .views-exposed-widget {
  width: 22%;
}
.page-inicio #min-search .views-exposed-form .views-exposed-widget #edit-submit-busqueda {
  border-radius: 3px;
  webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px 0 5px;
  margin-top: 32px;
}
#min-search .sidebar .boton,
.page-propiedades .sidebar .boton {
  padding-top: 10px;
  padding-bottom: 10px;
}
#min-search .sidebar .view-content,
.page-propiedades .sidebar .view-content,
#min-search .sidebar .pager,
.page-propiedades .sidebar .pager {
  display: none;
}
.page-inicio .views-exposed-form .views-exposed-widget {
  border: 2px blue;
}
.page-propiedades .three h3,
.page-inicio .three h3 {
  margin-bottom: 20px;
  border: 0;
}
.page-propiedades .views-exposed-form .views-exposed-widget,
.page-inicio .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  margin: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dcdcdc;
}
.page-propiedades label,
.page-inicio label {
  color: #6694c1;
  font-family: 'AltoPro-Light';
  font-weight: normal;
  margin-top: 15px;
}
.page-propiedades .form-type-select,
.page-inicio .form-type-select {
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.page-propiedades .form-type-select:hover,
.page-inicio .form-type-select:hover {
  border-color: #a6c9ff;
}
.page-propiedades select,
.page-inicio select {
  -webkit-appearance: none !important;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url('../images/select-arrow.png');
  border: 1px solid #fff;
  color: #6b8187;
  padding: 5px;
  font-size: 12px;
  -webkit-border-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  -webkit-box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
  -moz-box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
  box-shadow: inset 0px -6px 11px 6px rgba(232, 232, 232, 0.51);
}
.page-propiedades select:hover,
.page-inicio select:hover {
  background-color: #fafafa;
}
.page-propiedades select option,
.page-inicio select option {
  font-family: 'Open Sans Condensed';
}
.page-propiedades .views-submit-button input,
.page-inicio .views-submit-button input {
  border-radius: 3px;
  webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-family: 'AltoPro-Thin';
  font-weight: normal;
  width: 100%;
}
.page-propiedades #edit-sale-msg,
.page-inicio #edit-sale-msg,
.page-propiedades #edit-rent-msg,
.page-inicio #edit-rent-msg {
  cursor: pointer;
  padding: 6px;
  color: #afafaf;
}
.page-propiedades #edit-sale-msg:hover,
.page-inicio #edit-sale-msg:hover,
.page-propiedades #edit-rent-msg:hover,
.page-inicio #edit-rent-msg:hover {
  color: #6b8187;
}
.boton {
  -moz-box-shadow: inset 0px 1px 0px 0px #88afd4;
  -webkit-box-shadow: inset 0px 1px 0px 0px #88afd4;
  box-shadow: inset 0px 1px 0px 0px #88afd4;
  background-color: #6694c1;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #6694c1;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-shadow: 1px 1px 0px #3470a8;
  cursor: pointer;
}
.boton:hover {
  background-color: #81abd1;
}
/* content filters */
.content .view-filters {
  display: none;
}
#comments {
  display: none;
}
/*********************************************/
/***************** CONTENT *******************/
/*********************************************/
a:hover {
  text-decoration: none;
}
section p,
section a {
  font-family: 'AltoPro-Light';
}
section h1,
section h2,
section h3 {
  color: #565656;
}
.page-home h1,
.page-proyectos h1,
.page-propiedades h1,
.page-servicios h1,
.page-contacto h1,
.page-busqueda h1,
.page-contact h1 {
  background: url('../images/bg-proyectos.png') repeat-x 0 0px;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
}
.page-home h2,
.page-proyectos h2,
.page-propiedades h2,
.page-servicios h2,
.page-contacto h2,
.page-busqueda h2,
.page-contact h2,
.page-home .pane-title,
.page-proyectos .pane-title,
.page-propiedades .pane-title,
.page-servicios .pane-title,
.page-contacto .pane-title,
.page-busqueda .pane-title,
.page-contact .pane-title {
  display: none;
}
/***************** Page FRONT *****************/
.page-inicio .view-busqueda .view-content {
  display: none;
}
.page-inicio .panel-1col h2.pane-title {
  margin-bottom: 10px;
}
.page-inicio .view-display-id-block_4 {
  margin-bottom: 40px;
  overflow: hidden;
}
.page-inicio .view-display-id-block_4 .views-field-field-imagen {
  overflow: hidden;
  margin: 0;
}
.page-inicio .views-slideshow-cycle-main-frame-row-item {
  position: relative;
}
.page-inicio .views-slideshow-cycle-main-frame-row-item .views-field-title {
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.page-inicio .views-slideshow-cycle-main-frame-row-item .views-field-title .field-content {
  display: block;
  text-align: right;
  padding: 20px 25px 25px 0;
  background: rgba(256, 256, 256, 0.9);
}
.page-inicio .jcarousel li {
  height: auto;
}
.page-inicio h2.title {
  display: none;
}
.page-inicio h2.pane-title {
  font-size: 22px;
  padding: 0;
  color: #6694c1;
}
.page-inicio form {
  margin: 0;
}
.page-inicio .views-row {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.page-inicio .views-slideshow-controls-bottom {
  position: relative;
  top: -36px;
  z-index: 200;
  left: 25px;
}
.page-inicio .active .views-field-nid {
  background-color: #2f8dd3;
}
.page-inicio .views-field-nid {
  cursor: pointer;
  float: left;
  margin: 0 12px 12px 0;
  background-color: #d3dded;
  color: #81abd1;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #2f8dd3;
}
.page-inicio .views-content-nid {
  display: none;
}
.page-inicio .bx-wrapper {
  padding: 0 10px 10px 0;
}
.page-inicio .bx-wrapper .bx-viewport {
  border: 1px solid #dcdcdc;
}
.page-inicio .bxslider li {
  list-style: none;
  background-color: #f5f5f5;
  height: 200px;
  position: relative;
}
.page-inicio .bxslider li h4 {
  color: #6694c1;
  margin: 20px;
}
.page-inicio .bxslider li p {
  margin: 20px;
}
.page-inicio .jcarousel-skin-default {
  min-height: 200px;
}
.page-inicio .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 8px;
}
.page-inicio .section_main .nine {
  padding-left: 0;
}
.page-inicio .section_main .nine .eight,
.page-inicio .section_main .nine .four {
  float: left;
}
.page-inicio .section_main .nine .eight .twelve div,
.page-inicio .section_main .nine .four .twelve div {
  height: 370px;
}
.page-inicio .section_main .nine .eight article,
.page-inicio .section_main .nine .four article {
  float: left;
  padding: 0 10px 10px 0;
}
.page-inicio .section_main .nine .eight article div,
.page-inicio .section_main .nine .four article div {
  margin: 0;
}
.jcarousel-view--home--block-2 {
  overflow: visible!important;
}
.front .view-id-busqueda {
  overflow: hidden;
}
#min-search .views-exposed-form .views-exposed-widget {
  width: 25%;
  float: left;
  border: none;
}
.views-exposed-widgets {
  border-bottom: 1px solid #d3dded;
}
/* VIEWS */
#min-search {
  margin-bottom: 20px;
}
/* JCAROUSEL */
.jcarousel-skin-default {
  color: #565656;
}
.jcarousel-skin-default .ubicacion {
  color: #2f8dd3;
}
.jcarousel-skin-default .views-field-field-tipo-de-inmueble .field-content {
  font-family: 'Open Sans Condensed';
  color: #0d6ba0;
  font-size: 20px;
  border-bottom: 1px dotted #d3dded;
}
.jcarousel-skin-default .precio-venta,
.jcarousel-skin-default .precio-alquiler {
  font-family: 'AltoProExCon-LightItalic';
  color: #2f8dd3;
  font-size: 16px;
}
.jcarousel-skin-default .ciudad {
  font-family: 'AltoProExCon-LightItalic';
  color: #2f8dd3;
  font-size: 16px;
}
.jcarousel-skin-default .jcarousel-container-horizontal {
  margin: 16px 0 30px 0;
  width: 100%!important;
  overflow: visible;
  padding: 0;
  height: auto!important;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-item {
  background-color: transparent;
  border: 0;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev,
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next {
  height: 37px;
  width: 53px;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev-horizontal {
  position: absolute;
  top: 56px;
  left: -8px;
  background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev-horizontal:hover {
  background-position: -53px 0;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next-horizontal {
  position: absolute;
  top: 56px;
  right: -8px;
  background-position: 0 -37px;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next-horizontal:hover {
  background-position: -53px -37px;
}
.jcarousel-skin-default .jcarousel-clip-horizontal {
  padding-top: 18px;
  padding-bottom: 15px;
  text-align: left;
  margin: 0 auto;
  width: 98%!important;
}
.jcarousel-list-horizontal {
  width: 200%!important;
  overflow: hidden;
}
.destacados .jcarousel-skin-default .jcarousel-clip-horizontal {
  margin: 0 auto;
}
.galleria-container {
  background: white!important;
  margin-bottom: 100px;
}
/***************** Page INTEGRAL *****************/
.page-integral-property .content {
  margin-top: 100px;
}
.page-integral-property h2.pane-title,
.page-integral-property h1.section-title {
  display: none;
}
.page-integral-property p {
  font-size: 18px;
  color: #6b8187;
  text-align: center;
}
.page-integral-property h1 {
  text-align: center;
  border-bottom: 1px dotted #d3dded;
  padding: 0 0 10px;
  margin: 20px 0;
}
.page-integral-property .glow {
  height: 363px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#d3dded));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #d3dded, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #d3dded 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #d3dded 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffd3dded', GradientType=0);
}
.page-integral-property .bg-integral_pm {
  background: url('../images/bg-integral_buildings.png') no-repeat bottom center;
  height: 363px;
}
.page-integral-property .bg-mision {
  background: url('../images/bg-integral_mision.png') no-repeat bottom center;
  height: 363px;
}
.page-integral-property .bg-vision {
  background: url('../images/.png') no-repeat bottom center;
  height: 363px;
}
.page-integral-property .panels-flexible-row {
  padding: 0;
}
.page-integral-property .panels-flexible-row:last-child {
  margin-bottom: 0;
}
.page-integral-property .pane-block-1 pane-content {
  margin: 100px 0 0;
}
.bg-lines {
  background: url('../images/bg-lines.png') repeat;
  height: 100px;
  margin-bottom: 50px;
}
/***************** PROYECTOS Y PROPIEDADES *******/
.page-propiedades .views-row {
  padding: 20px;
}
.page-propiedades .views-row .views-field-field-precio-de-alquiler,
.page-propiedades .views-row .views-field-field-precio-de-venta {
  float: left;
  padding-right: 0;
}
.page-propiedades .views-row .views-field-field-precio-de-alquiler .field-content,
.page-propiedades .views-row .views-field-field-precio-de-venta .field-content {
  color: #2f8dd3;
  float: left;
  font-size: 18px;
  margin-right: 10px;
}
.page-propiedades .views-row .views-field-field-precio-de-alquiler .field-content span,
.page-propiedades .views-row .views-field-field-precio-de-venta .field-content span {
  font-family: 'AltoProExCon-LightItalic';
  color: #565656;
}
.page-propiedades .views-row .views-field-field-precio-de-venta .field-content {
  margin-right: 7px;
}
.page-propiedades .views-row .views-field-field-ciudad .field-content a {
  border-bottom: 1px dotted #d3dded;
  display: block;
  margin-bottom: 8px;
  color: #2f8dd3;
  font-family: 'Open Sans Condensed';
  font-size: 26px;
  padding-bottom: 8px;
}
.page-propiedades .views-row .views-field-field-ciudad .field-content a:hover {
  color: #6b8187;
}
.page-propiedades .views-row .views-field-body p {
  color: #565656;
  font-size: 13px;
  margin: 0;
}
.page-propiedades .views-row .views-field-field-imagen {
  margin: 10px 0;
}
.page-propiedades .views-row .views-field-view-node a {
  color: #6694c1;
  font-size: 13px;
}
.page-propiedades .views-row .views-field-view-node a:hover {
  color: #0d6ba0;
}
/******************/
/* pager */
.item-list {
  border-top: 1px dotted #d3dded;
  border-bottom: 1px dotted #d3dded;
  font-family: 'AltoPro-Thin';
  padding: 10px 0;
}
.item-list .pager {
  text-align: right;
}
.item-list .pager-current {
  margin-left: 3px;
  color: #cbe9f2;
}
.item-list .pager-previous,
.item-list .pager-next,
.item-list .pager-item,
.item-list .last {
  color: #6694c1;
  margin-left: 3px;
}
.item-list .pager-previous a,
.item-list .pager-next a,
.item-list .pager-item a,
.item-list .last a {
  color: #6694c1;
}
.item-list .pager-previous a:hover,
.item-list .pager-next a:hover,
.item-list .pager-item a:hover,
.item-list .last a:hover {
  color: #0d6ba0;
}
.page-proyectos .views-row {
  background: url('../images/bg-lines2.png') repeat-x center bottom;
  padding: 20px 20px 30px 20px;
}
.page-proyectos .views-row .views-field-title span a {
  border-bottom: 1px dotted #d3dded;
  font-family: 'Open Sans Condensed';
  font-size: 22px;
}
.page-proyectos .views-row .views-field-title span a:hover {
  color: #2f8dd3;
}
.page-proyectos .views-row .views-field-field-imagen {
  float: left;
  margin: 0 20px 10px 0;
}
.page-proyectos .views-row .views-field-body {
  margin-top: 10px;
}
.page-proyectos .views-row .views-field-view-node {
  margin-top: 10px;
}
.page-proyectos .views-row .views-field-view-node a {
  color: #6694c1;
}
.page-proyectos .views-row .views-field-view-node a:hover {
  color: #2f8dd3;
}
/******************/
/***************** SERVICIOS ***************/
.end {
  position: fixed;
  top: 10%;
}
.start {
  position: fixed;
  top: 26%;
}
.page-servicios {
  /* #menu-servicios {
    &.locked {
        position: fixed;
        top: 10px;
    }
  } */

}
.page-servicios .views-field-title {
  background-color: transparent;
}
.page-servicios .panel-flexible-inside {
  position: relative;
}
.page-servicios .panels-flexible-region-5-menu_servicios {
  position: fixed;
  width: 240px;
  z-index: 300;
  height: 600px;
}
.page-servicios ul.side-nav {
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.page-servicios ul.side-nav li {
  padding: 10px 0px;
  border-bottom: 1px dotted #d3dded;
  margin: 0;
}
.page-servicios ul.side-nav li a {
  padding-right: 20px;
  color: #6694c1;
  line-height: 16px;
}
.page-servicios ul.side-nav li a:hover {
  color: #0d6ba0;
  background: url('../images/menu-servicios-arrow.png') no-repeat right center;
}
.page-servicios ul.side-nav li a span.lsf-icon-dropcap:before {
  font-size: 28px;
  margin-right: 10px;
  float: left;
  height: 30px;
  padding-top: 4px;
}
.page-servicios .panels-flexible-region-5-center {
  position: relative;
  top: 0;
  left: 30%;
  width: 70%;
}
.page-servicios .panels-flexible-region-5-center .views-row {
  background: url('../images/bg-lines.png') repeat-x center bottom;
  box-shadow: none;
  padding: 40px 0 60px;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title-1 a {
  display: none;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title {
  border-bottom: 1px dotted #6694c1;
}
.page-servicios .panels-flexible-region-5-center .views-row .views-field-title span {
  color: #0d6ba0;
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  padding: 0 0 20px;
}
.page-servicios .panels-flexible-region-5-center .views-row p {
  font-size: 16px;
  margin-top: 15px;
}
/************** DETALLE ********************/
.node-type-proyectos .submitted,
.node-type-propiedades .submitted {
  display: none;
}
.node-type-proyectos section.three,
.node-type-propiedades section.three {
  display: none;
}
.node-type-proyectos .content,
.node-type-propiedades .content {
  position: relative;
}
.node-type-proyectos .content h1.title,
.node-type-propiedades .content h1.title {
  color: #6694c1;
  border-bottom: 1px dotted #d3dded;
  font-family: 'AltoProExCon-ExtraLight';
  margin: 30px 0 7px;
}
.node-type-proyectos .content h1.title .inmobi-logo,
.node-type-propiedades .content h1.title .inmobi-logo {
  float: right;
  height: 50px;
}
.node-type-proyectos .content .img-first img,
.node-type-propiedades .content .img-first img {
  width: 100%;
  height: 360px;
  margin-bottom: 10px;
}
.node-type-proyectos .content h4,
.node-type-propiedades .content h4 {
  margin: 0 0 10px 0;
  float: left;
}
.node-type-proyectos .content h4 p,
.node-type-propiedades .content h4 p {
  color: #afafaf;
  display: inline-block;
  font-family: 'AltoProExCon-LightItalic';
  font-size: 26px;
  margin: 0;
}
.node-type-proyectos section.nine,
.node-type-propiedades section.nine {
  width: 100%;
  float: none;
}
.node-type-proyectos h1.section-title,
.node-type-propiedades h1.section-title {
  /*display: none;*/

}
.node-type-proyectos .left,
.node-type-propiedades .left {
  width: 30%;
  background: url('../images/bg-lines.png') repeat-x 0 bottom #f5f5f5;
  padding: 17px 20px 70px;
}
.node-type-proyectos .left > div,
.node-type-propiedades .left > div {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
.node-type-proyectos .left .field-name-body,
.node-type-propiedades .left .field-name-body {
  margin: 15px 0 0;
}
.node-type-proyectos .left .field-name-body p,
.node-type-propiedades .left .field-name-body p {
  color: #6694c1;
}
.node-type-proyectos .left ul,
.node-type-propiedades .left ul {
  padding: 0;
  list-style: none;
}
.node-type-proyectos .left ul li,
.node-type-propiedades .left ul li {
  border-bottom: 1px dotted #d3dded;
  font-size: 18px;
  font-family: 'AltoProExCon-LightItalic';
}
.node-type-proyectos .left ul li:before,
.node-type-propiedades .left ul li:before {
  content: "» ";
  color: #2386c9;
  /* or whatever color you prefer */

  margin-right: 10px;
}
.node-type-proyectos .left ul li:last-child,
.node-type-propiedades .left ul li:last-child {
  border-bottom: 1px solid #d3dded;
}
.node-type-proyectos .left ul li b,
.node-type-propiedades .left ul li b {
  color: #565656;
  font-family: 'AltoProExCon-ExtraLight';
  float: right;
}
.node-type-proyectos .right,
.node-type-propiedades .right {
  width: 68%;
  padding: 0;
}
.node-type-proyectos .right img,
.node-type-propiedades .right img {
  margin-bottom: 18px;
}
.node-proyectos .field-name-field-logo {
  float: left;
  margin-right: 15px;
}
.node-proyectos .field-name-field-telefono div,
.node-proyectos .field-name-field-email div,
.node-proyectos .field-name-field-website div,
.node-proyectos .field-name-field-locacion div {
  font-size: 20px!important;
  margin-bottom: 5px;
}
.node-proyectos .field-name-field-imagen {
  clear: both;
  margin-top: 10px;
}
.node-proyectos .galleria-container {
  background: white!important;
  margin-bottom: 20px;
}
.node-proyectos .field-type-google-map-field {
  border-color: #999;
  border-image: none;
  border-style: dotted;
  border-width: 1px 0 0;
  padding-top: 30px;
  margin-top: 30px;
}
/* Propiedades */
#content-in {
  width: 100%;
}
.node-type-propiedades b {
  float: none!important;
}
.node-type-propiedades .google_map_field_display {
  width: 630px!important;
  margin-top: 10px;
}
.node-type-propiedades .propiedad-sidebar span {
  display: inline-block;
  margin-right: 5px;
}
.node-type-propiedades .galleria-container {
  background: white!important;
  margin-bottom: 20px;
}
.node-proyectos ul#social,
.node-type-propiedades ul#social {
  clear: both;
  padding: 0;
  float: right;
  position: relative;
  list-style: none;
}
.node-proyectos ul#social li,
.node-type-propiedades ul#social li {
  display: inline-block;
  margin-right: 20px;
}
.node-proyectos ul#social li.tw,
.node-type-propiedades ul#social li.tw {
  position: relative;
  top: 7px;
  margin-right: 0;
}
.node-proyectos ul#social li.tw iframe,
.node-type-propiedades ul#social li.tw iframe {
  width: 91px!important;
}
/*******************************************/
/******** CONTACT COUNTRIES SECTION ********/
/*******************************************/
.contact-countries div.columns {
  padding: 5px;
  border-right: 1px dotted #d3dded;
}
.contact-countries div.columns:last-child {
  border: 0;
}
.contact-countries .country-icons {
  height: 140px;
  padding: 6px 10px 0 60px;
}
.contact-countries .country-icons:last-child {
  border-right: 0;
}
.contact-countries .country-icons h3 {
  font-family: 'AltoProExCon-ExtraLight';
  font-size: 18px;
  color: #0d6ba0;
  margin: 0 0 7px 0;
}
.contact-countries .country-icons p {
  font-family: 'AltoProExCon-LightItalic';
  font-size: 16px;
  color: #afafaf;
  margin: 0;
  line-height: 20px;
  text-align: left;
}
.contact-countries .country-icons p:first-of-type {
  color: #565656;
}
.contact-countries .pnm-icon {
  background: url('../images/pnm-flag.png') no-repeat 6px 2px;
}
.contact-countries .vnz-icon {
  background: url('../images/vnz-flag.png') no-repeat 6px 2px;
}
.contact-countries .col-icon {
  background: url('../images/col-flag.png') no-repeat 6px 2px;
}
.contact-countries .usa-icon {
  background: url('../images/usa-flag.png') no-repeat 6px 2px;
}
.contact-countries .eur-icon {
  background: url('../images/eur-flag.png') no-repeat 6px 2px;
}
/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d3dded), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #d3dded, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #d3dded 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #d3dded 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3dded', endColorstr='#ffffffff', GradientType=0);
  margin: 20px 0 0;
}
footer .social-icons {
  height: 100px;
}
footer .social-icons a.lsf-icon {
  color: #6b8187;
  font-size: 32px;
  line-height: 0.9;
  margin-right: 15px;
  text-align: center;
}
footer .social-icons a.lsf-icon:hover {
  color: #6694c1;
}
footer .social-icons a.lsf-icon:last-child {
  margin: 0;
}
footer .branding {
  height: 100px;
}
footer .legal-note {
  height: 100px;
}
footer .branding p,
footer .legal-note a {
  font-family: 'AltoProExCon-LightItalic';
  font-size: 14px;
  color: #6b8187;
  line-height: 1.6;
  text-align: left;
  margin: 0 0 5px;
}
