@blue1: #2386C9;
@blue2: #0D3474;
@blue3: #D3DDED;
@blue4: #0D6BA0;
@blue5: #6694C1;

@gray1: #EFEFEF;
@gray2: #CCCCCC;
@gray3: #6B8187;

// fonts
@font1: 'AdelleSans-Light';
@font2: 'AltoProExCon-ExtraLight';
@font3: 'AltoPro-Thin';
@font4: 'AltoProExCon-LightItalic';

.sidebar {
	margin-top: 20px;
	.view-busqueda {
		.view-content,
		.pager {
			display: none;
		}
	}
}
.page-home, 
.page-integral,
.page-proyectos,
.page-propiedades,
.page-servicios,
.page-contacto,
	{
	h1 {
		display: none;
	}
}